.ProfileFrame {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.Avatar {
    margin: auto;
    text-align: center;
    padding: 2rem;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Username {
    font-weight: 850;
    font-size: 2rem;
    color: black;
    margin: 1rem;
}

.logout {
    margin: auto;
    margin-top: 1rem;
    width: 30%;
    text-align: center;
    border: none;
    background-color: rgb(255, 0, 149);
    padding: 0.7rem;
    color: white;
    font-weight: 800;
    font-size: larger;
    border-radius: 0.5rem;
}

.cursor {
    cursor: pointer;
}

.logout:hover {
    color: black;
    background-color: grey;
}