.CartBoxRight {
    height: max-content;
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.CartBoxLeft {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.CartBoxRight span {
    font-weight: 650;
    padding: 5px;
}

.CartBoxRight button {
    border: none;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #fffb00;
    font-weight: 600;
}

.HeadingPrice {
    color: grey;
    text-align: left;
    font-weight: 700;
    padding: 5px;
}

.CartHeading {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin: 10px 0px 0px 10px;
}

.CartBox {
    background-color: rgb(241, 241, 241);
}

.Cartframe {
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: 20px;
}

.CartItem {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Cart-Item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
    text-align: left;
    margin: 0.7rem;
}

.Cart-Item-description button {
    border: none;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: #fffb00;
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .Cartframe {
        background-color: rgb(241, 241, 241);
        display: flex;
        flex-direction: column-reverse;
    }
    .CartBoxRight {
        height: max-content;
        text-align: left;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
    }
    .CartBoxLeft {
        background-color: rgb(255, 255, 255);
        margin: 10px;
    }
    .CartItem {
        padding: 0px;
        margin: 0px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}